POSTGRES_USER=diabetes_user
POSTGRES_PASSWORD=CHANGE_MOI_MOT_DE_PASSE_FORT
POSTGRES_DB=diabetes_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

JWT_SECRET_KEY=CHANGE_MOI_GENERER_AVEC_secrets.token_hex_32
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=1

DASHBOARD_PASSWORD=MotDePassePourSeConnecter
DASHBOARD_USERNAME=medecin

API_HOST=ml-service
API_PORT=8000

MODEL_VERSION=v1
